.form-cobrador {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgba(240, 248, 255, 0.719);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.form-cobrador label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 0.9rem;
  gap: 5px;
}

.form-cobrador input,
.form-cobrador select {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

.checkbox {
  flex-direction: row !important;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.form-cobrador button {
  padding: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.form-cobrador button:hover:not(:disabled) {
  background-color: #0056b3;
}

.form-cobrador button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .form-cobrador {
    padding: 20px;
    box-shadow: none;
    border: 1px solid #eee;
  }
}